.announcements-container {
    display: flex;
}

.announcements-content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 250px;
    transition: margin-left 0.3s ease;
}

.announcements-content.collapsed {
    margin-left: 80px;
}