.events-container {
    display: flex;
}

.events-content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 250px;
    transition: margin-left 0.3s ease;
}

.events-content.collapsed {
    margin-left: 80px;
}